<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div> 
  </div>

        <div fxFlex>
          <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile *ngFor="let mydish of dishes" [routerLink]="['/dishdetail', mydish.id]">
              <img height="150px" src={{mydish.image}} alt={{mydish.name}}>
              <mat-grid-tile-footer>
                <h1>{{ mydish.name | uppercase}}</h1>
              </mat-grid-tile-footer>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

</div>
