<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40">

    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>

          <p>{{dish.description}}</p>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-button (click)="goBack();">BACK</button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40">

    <mat-list *ngIf="dish" class="card">
      <h3 >Comments</h3>

      <mat-list-item *ngFor="let mydish of dish.comments">

            <div matLine> {{ mydish.comment }} </div>
            <div matLine> {{ mydish.rating }} Stars</div>
            <div matLine> --{{ mydish.author }} {{mydish.date | date:"MMM dd, yyyy"}}  </div>

          </mat-list-item>

    </mat-list>


  </div>

</div>
